/* UserChrome.css for Mozilla Firefox 5.0  */
/* Remove access to user interface elements that aren't suitable for application virtualization */


/* Options - Advanced - General - System Defaults */
#systemDefaultsGroup { display: none !important; }

/* Options / Advanced / Updates / Firefox checkbox */
#enableAppUpdate { display: none !important; }

/* Help - About - Check for Updates button */
#updateButton { display: none !important; }
